---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!-- Building -->

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="main">
      <img class="main--logo" src="/assets/logo.svg" alt="Under Construction Logo" />
			<h1 class="main--title">Building...</h1>
		</main>
	</body>
</html>

<style>
  .main {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/assets/under-construction.jpg');
  }
  .main--logo {
    width: 200px;
    height: 200px;
  }
  .main--title {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
  }
</style>